## external-*

Tests: ls -l /usr/include/android/selinux/*.h /usr/lib/*/android/libselinux.so
       ls -l /usr/include/android/unwind/*.h /usr/lib/*/android/libunwind.so
       ls -l /usr/share/java/jsilver.jar

## system-core

Test-Command: ls -l /usr/lib/*/android/libcutils.so /usr/include/android/cutils/*.h
Depends: android-libcutils-dev

Test-Command: adb version
Depends: adb

Test-Command: adb help
Depends: adb

Test-Command: adb kill-server && adb devices
Depends: adb
Restrictions: allow-stderr

Test-Command: adb keygen key.txt && ls -l key.txt* && rm key.txt*
Depends: adb
Restrictions: allow-stderr

Test-Command: fastboot --version
Depends: fastboot

Test-Command: fastboot devices
Depends: fastboot

## development

Test-Command: apkcheck
Restrictions: allow-stderr

Test-Command: etc1tool development/tools/templates/ic_launcher_ldpi.png --encode && etc1tool development/tools/templates/ic_launcher_ldpi.pkm --decode

## art

Test-Command: 2>&1 dmtracedump |  grep 'Turn on HTML output'
Depends: dmtracedump

Tests: dexdump-dexlist
Depends: dexdump, dexlist

## frameworks-native

Test-Command: ls -l /usr/include/android/android/*.h /usr/lib/*/android/libETC1.so

## frameworks-base

Test-Command: for i in strings badging permissions resources configurations; do aapt dump $i frameworks/base/tools/aapt2/integration-tests/ConvertTest/duplicate_entries.apk > /dev/null; done

Test-Command: for i in badging configurations packagename permissions strings resources; do aapt2 dump $i frameworks/base/tools/aapt2/integration-tests/ConvertTest/duplicate_entries.apk > /dev/null; done
