/*.log
/*.substvars
/.debhelper/
/.mh/
/adb/
/android-sdk-libsparse-utils/
/append2simg/
/build/
/cmake-obj/
/debhelper-build-stamp
/fastboot/
/files
/img2simg/
/manpages/system/core/*.1
/mkbootimg/
/out/
/simg2img/
/tmp/
/*~
/_jh_*
/etc1tool/
/dexdump/
/dexlist/
/dmtracedump/
/*.symbols
/dalvik-exchange/
/hprof-conv/
