/.debhelper/
/.mh/
/*.log
/*.substvars
/build/
/android-platform-tools/
/debhelper-build-stamp
/files
/tmp/
/out/
android-libboringssl-dev/
android-libboringssl/
android-libselinux-dev/
android-libselinux/
android-libsepol-dev/
android-libsepol/
cmake-obj/
/android-libunwind-dev/
/android-libunwind/
