/*.doc-base.javadoc
/*.log
/*.substvars
/.debhelper/
/.gradle/
/.javahelper_clean
/.mh/
/adb/
/android-*/
/append2simg/
/cmake-obj/
/debhelper-build-stamp
/fastboot/
/files
/img2simg/
/libandroid-*-java-doc/
/libandroid-*-java/
/libjsilver-aosp-java/
/manpages/system/core/*.1
/mkbootimg/
/out/
/simg2img/
/tmp/
/*~
/_jh_*
/build/*
!/build/make/
/signapk/
/signtos/
/zipalign/
/ziptime/
/etc1tool/
/dexdump/
/dexlist/
/dmtracedump/
/*.symbols
