#!/usr/bin/make -f

# For get-orig-source
include /usr/share/dpkg/pkg-info.mk
export DEB_SOURCE
export DEB_VERSION_UPSTREAM

# external/boringssl
include /usr/share/dpkg/architecture.mk

export DEB_LDFLAGS_MAINT_APPEND = -fPIC
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

get-orig-source:
	debian/scripts/get-orig-source

override_dh_auto_build:
	dh_auto_build --buildsystem=makefile -- -f debian/external/boringssl/libcrypto.mk
	dh_auto_build --buildsystem=makefile -- -f debian/external/boringssl/libssl.mk
